.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.App-header, .App-footer {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
}

.App-header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

main {
    flex-grow: 1;
}
