/* frontend/src/App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Ensure sections have consistent breathing room */
section {
  padding: 100px 0;
}